.ans_wallet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    min-height: 36px;
    margin-right: 0.7rem;
    border-radius: 0.7rem;
    padding: 2px 5px;
    max-width: 100px;
}

.icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 100vh;
    margin-left: 1%;
    border-style: none;
}

